extends layout

block content
  div#content(data-0="background:rgba(25, 25, 25, .7);", data-800="background:rgba(0, 0, 0, 0);")
    h1.auxilium-font auxilium

    div.menu
      p
        input#play-btn.btn.btn-large.btn-success(type="button", value="Play")
      br
      p
        input#help-btn.btn(type="button", value="Help")
  div#help(data-0="background:rgba(25, 25, 25, .7);", data-800="background:rgba(0, 0, 0, 0);")
    div.player
    div.keys
    div.fireball
    div.player.enemy
    div.menu
      input#back-btn.btn(type="button", value="Back")